body {
  background: linear-gradient(to top, #8949a6, #9c7adc);
  height: 100vh;
  color: #ffffff;
  font-family: Roboto, sans-serif;
}
a {
  color: #1f2649;
}
.central-app {
  background: linear-gradient(to top, #8b4ba7 1.5%, #1f2649 25%);
  max-width: 600px;
  padding: 30px;
  margin: 70px auto;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #ddb130;
  padding: 30px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.form-input {
  background: #9c7adc;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 25px 20px;
}
.form-button {
  background: #ddb130;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 25px 20px;
  margin-left: 5px;
}
footer {
  text-align: center;
  border-top: 1px solid #ddb130;
  padding: 30px 0 0 0;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
